# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class
*.so
*.db
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django
*.log
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.history/
.DS_Store
.AppleDouble
.LSOverride

# Project specific
sent_emails/