# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
sent_emails/
db.sqlite3